<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="gimnasioForm">

    <ion-item>
      <ion-label position="floating">ID del usuario</ion-label>
      <ion-input type="number" formControlName="id"></ion-input>
    </ion-item>
    <ion-button expand="full" type="button" (click)="cargarUsuario()">Cargar usuario</ion-button>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" formControlName="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bono</ion-label>
      <ion-input type="text" formControlName="bono"></ion-input>
    </ion-item>

    <ion-button expand="full" type="button" (click)="updateUsuario()">
   Actualizar
    </ion-button>

    <ion-button expand="block" (click)="volver()">Volver</ion-button>

  </form>
</ion-content>
