<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Insertar usuario nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <div class="search-container">

<form [formGroup]="gimnasioForm" (ngSubmit)="createUsuario()">

  <!-- Nombre -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" formControlName="nombre"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="gimnasioForm.get('nombre')?.touched && gimnasioForm.get('nombre')?.invalid">
    <p *ngIf="gimnasioForm.get('nombre')?.errors?.['required']">El nombre es obligatorio</p>
  </ion-text>

  <!-- Apellidos -->
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input type="text" formControlName="apellidos"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="gimnasioForm.get('apellidos')?.touched && gimnasioForm.get('apellidos')?.invalid">
    <p *ngIf="gimnasioForm.get('apellidos')?.errors?.['required']">Los apellidos son obligatorios</p>
  </ion-text>

  <!-- Correo -->
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" formControlName="correo"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="gimnasioForm.get('correo')?.touched && gimnasioForm.get('correo')?.invalid">
    <p *ngIf="gimnasioForm.get('correo')?.errors?.['required']">El correo es obligatorio</p>
    <p *ngIf="gimnasioForm.get('correo')?.errors?.['email']">Introduce un correo válido</p>
  </ion-text>

  <!-- Bono -->
  <ion-item>
    <ion-label position="floating">Bono</ion-label>
    <ion-input type="text" formControlName="bono"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="gimnasioForm.get('bono')?.touched && gimnasioForm.get('bono')?.invalid">
    <p *ngIf="gimnasioForm.get('bono')?.errors?.['required']">El bono es obligatorio</p>
  </ion-text>

  <!-- Botón Submit -->
  <ion-button expand="full" type="submit" [disabled]="gimnasioForm.invalid">
    Enviar
  </ion-button>
</form>


    <!-- Botón de volver -->
    <ion-button expand="block" (click)="volver()">
      volver
    </ion-button>

  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
