<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eliminar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="deleteForm" (ngSubmit)="borrarUsuario()">

    <ion-item>
      <ion-label position="floating">ID del usuario</ion-label>
      <ion-input type="number" formControlName="id" ngDefaultControl></ion-input>
    </ion-item>


    <ion-button expand="full" type="submit">Borrar</ion-button>

  </form>

  <ion-button expand="block" (click)="volver()">
    Volver
  </ion-button>

</ion-content>
